.area{
	width:500px;
	margin:0 auto;
}

.generate-area{
	position: absolute;
	background: #F7F7F9;
	width:100%;
	padding: 48px 0;
	top:50%;
	margin-top: -130px;
	text-align: center;
}

.generated-link{
	font-size:2.2em;
	display: block;
	margin-bottom: 20px;
	cursor: pointer;
}

select{
	border:0;
	background: transparent;
	cursor: pointer;
	outline: 0 !important;
}

/* Effect 10: Corner indicator */
.la-anim-10 {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 300px;
	background: #428BCA;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
	transform: translateX(100%) translateY(-100%) rotate(45deg);
	pointer-events: none;
}

.la-anim-10.la-animate {
	-webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
	transform: translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.la-anim-10::before,
.la-anim-10::after {
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: block;
	border: 5px solid #fff;
	border-radius: 50%;
	content: '';
}

.la-anim-10::before {
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-right-color: #2D699F;
	border-left-color: #2D699F;
	-webkit-animation: rotation 3s linear infinite;
	animation: rotation 3s linear infinite;
}

.la-anim-10::after {
	bottom: 50px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-top-color: #2D699F;
	border-bottom-color: #2D699F;
	-webkit-animation: rotation 1s linear infinite;
	animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
	0% 		{ -webkit-transform: rotate(0deg); }
	50% 	{ -webkit-transform: rotate(180deg); }
	100% 	{ -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
	0% 		{ transform: rotate(0deg); }
	50% 	{ transform: rotate(180deg); }
	100% 	{ transform: rotate(360deg); }
}
