<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <title>Google Audio Helper</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
</head>
<body>
  <div data-ng-controller="MainController">
    <div class="generate-area">
      <div class="area">
        <a ng-href="{{generatedLink}}" target="_blank" class="generated-link">{{generatedLink}}</a>
        <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" data-ng-model="audioText" placeholder="{{inputPlaceholder}}" maxlength="100" />
            <div class="input-group-addon">
              <select data-ng-model="language">
                <option value="pt">pt-BR</option>
                <option value="en">en-US</option>
              </select>
            </div>
          </div>
        </div>
        <a data-ng-click="getLink()" target="_blank" class="btn btn-warning btn-lg">Get Link!</a>
      </div>
    </div>
  </div>
</body>
</html>